alias shrink="~/scripts/image\ shrink.sh"
alias ios="cd ~/Developer/iOS"
alias cpp="cd ~/Developer/Cpp"
alias and="~/Developer/Android"
alias spoj=". ~/scripts/spoj.sh"
alias rb="cd ~/Developer/Ruby"
alias slp="~/scripts/sleep.sh $1"
alias fnd="~/scripts/find.sh $1"
alias update="~/scripts/update.sh"
alias dd="rb; cd todolist"
alias ll="ls -lh"
alias la="ls -lAh"
alias download_railscasts="~/scripts/download\ railscasts.sh"
alias g="./gradlew"
alias run="~/scripts/run\ android\ application.sh"
alias adb="/Applications/Android\ Studio.app/sdk/platform-tools/adb"
alias fastboot="/Applications/Android\ Studio.app/sdk/platform-tools/fastboot"
alias connect="~/scripts/connect.sh"
alias h="heroku"
alias simulator="open /Applications/Xcode.app/Contents/Developer/Applications/iOS\ Simulator.app"
alias restartdock="killall -KILL Dock"
alias restartfinder="killall -KILL Finder"
alias restartmenu="killall -KILL SystemUIServer"
alias dir=ls
alias sshv="ssh viktorfonic@192.168.0.12"
alias pi="ssh pi@192.168.0.16"
alias fix_cpp="~/scripts/fix_cpp.sh $*"
alias pastebin="~/scripts/pastebin.sh $*"
alias submit="~/scripts/spoj_submit/spoj_submit.sh $*"
