alias ll="ls -lahG"
alias gs="git status -s"
alias ga="git add ."
alias shrink="~/scripts/image\ shrink.sh"
alias ios="cd ~/Developer/iOS"
alias natprog="cd ~/Developer/Cpp/Natprog/2012/Programi"
alias rb="cd ~/Developer/Ruby"
alias fer="cd ~/Data/Archive/FER"
alias sleep="~/scripts/sleep.sh $1"
