alias shrink="~/scripts/image\ shrink.sh"
alias ios="cd ~/Developer/iOS"
alias cpp="cd ~/Developer/Cpp"
alias natprog="cd ~/Developer/Cpp/Natprog/2012/Programi"
alias spoj="cd ~/Developer/Cpp/SPOJ"
alias tc="cd ~/Developer/Cpp/TopCoder"
alias rb="cd ~/Developer/Ruby"
alias jv="cd ~/Developer/Java"
alias btt="cd ~/Developer/Java/BioTricoTest"
alias dls="cd ~/Developer/Java/DLS\ -\ Functional\ Systems"
alias fer="cd ~/Data/Archive/FER"
alias sleep="~/scripts/sleep.sh $1"
alias fnd="~/scripts/find.sh $1"
alias update="~/scripts/update.sh"
